<div class="flex flex-col items-center">
    <div class="flex flex-col items-center justify-center flex-1 w-full max-w-6xl text-center md:flex-row md:text-left">
      <div class="flex flex-col items-center justify-center flex-1 space-y-6 md:items-start">
        <h1 class="text-4xl font-bold text-gray-900 md:text-5xl">Bienvenido a ¿Cuanto sabes?</h1>
        <p class="text-lg text-gray-700">Ponte a pruba con nuestros quizzes que van desde series, peliculas, deportes y
          muchos más</p>
        <div class="flex space-x-4"><button
            class="px-6 py-3 text-sm font-medium text-white bg-purple-600 rounded-md">Teachers <br>Crea una
            cuenta</button>
          <button class="px-6 py-3 text-sm font-medium text-gray-700 bg-gray-200 rounded-md">Administrators
            <br> Learn
            more</button>
        </div>
      </div>
      <div class="flex-1 mt-8 md:mt-0"><img src="{% static 'svg/main.svg' %}" /></div>
    </div>
  </div>