
.glider-prev, .glider-next {
    background-color: #4a5568; /* Cambia el color de fondo */
    color: #fff; /* Cambia el color del ícono */
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .glider-prev:hover, .glider-next:hover {
    background-color: #2d3748; /* Color de fondo al hacer hover */
    transform: scale(1.1); /* Agranda el botón al hacer hover */
  }
  .glider-dot {
    background-color: #cbd5e0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 0 5px;
  }
  
  .glider-dot.active {
    background-color: #4a5568;
  }
  