{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'links/baselink.html' %}
</head>

<style>
  body {
    background-image: linear-gradient(to top, #6073f0, #9293f4, #bab6f8, #dedafc, #ffffff) !important;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  
</style>

<body class="min-h-screen flex flex-col">

<!--  Nav bar-->

{% include 'bloques/navbar.html' %}

<!-- End Nav bar-->
  

  <div class="mt-12 mb-6 px-8 py-4">
      {% block contenido %}
      {% endblock %}
    </div>

  <footer class="bg-primary text-primary-foreground py-4 px-6">
    <div class="container mx-auto text-center">
      <p>&copy; 2023 Fútbol Quizzes. Todos los derechos reservados.</p>
    </div>
  </footer>
</body>

</html>